In [4]:
import pandas as pd

# Series에 딕셔너리형 키 기준 오름차순으로 정렬
fruits = {"banana": 3, "orange": 2}
print(pd.Series(fruits))

banana    3
orange    2
dtype: int64

In [5]:
import pandas as pd

data={"fruits":["apple","orange","banana","strawberry","kiwifrult"],
      "year":[2001,2002,2001,2008,2006],
      "time":[1,4,5,6,3]}
df=pd.DataFrame(data)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifrult  2006     3